body {
	font-family: 'Segoe UI', Tahoma, sans-serif;
	font-size: 75%;
	background: #FFFFFF
}

.panel {
	width: 900px;
	margin: 40px auto;
	overflow: hidden;
}

.header {
    color: #57385C;    
    height: 63px;
    line-height: 63px;
    margin: 0;
    padding: 0 0 0 50px;
    font-weight: 300;
}

.headerUrl {
	color: #57385C;
    height: 55px;
    line-height: 55px;
    margin: 0;
    font-weight: 300;
    border-top: 1px solid #eee;
}

.url {
	padding: 0 0 0 50px;
}

.headerJob {
	color: #57385C;
    height: 55px;
    line-height: 55px;
    margin: 0;
    font-weight: 300;
}

.job {
	padding: 0 0 0 50px;
}

.entryFooter {
	height: 40px;
}

.input {
    border-top: 1px solid #eee;
    padding: 20px 0px 0px 20px;
}

.pullUrl {
    border: 1px solid #eee;
    margin-bottom: 10px;
    width: 859px;
}

.pullArea {
    border: 1px solid #eee;
    resize: none;
}

.left {
    float: left;
}
